.axis-tile {
  display: grid;
  place-content: center;
  height: 6.25rem;
  width: 6.25rem;
}

.dark-tile {
  background: #3b6a5b;
}

.bright-tile {
  background: #ebecd0;
}

.axis-tile img {
  width: 5rem;
}
