#chessboard {
  display: grid;
  grid-template-columns: 6.25rem 6.25rem 6.25rem 6.25rem 6.25rem 6.25rem 6.25rem 6.25rem;
  grid-template-rows: 6.25rem 6.25rem 6.25rem 6.25rem 6.25rem 6.25rem 6.25rem 6.25rem;
  width: 50rem;
  height: 50rem;
  background: #3b6a5b;
}

.axis-tile #chessboard {
  height: 6.25rem;
  width: 6.25rem;
}

#chessboard .dark-tile {
  background: #3b6a5b;
}

#chessboard .bright-tile {
  background: #ebecd0;
}
